@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }
  .grib-container > *{
      box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      padding: 10px;
      text-align: center;
  }
  